@{
  Layout="Shared/_Layout.cshtml";
}

    @if (@Model["listBands"].Count == 0)
    {
      <p>No bands have been added yet!</p>
      <form  action="/bands/new" method="get">
        <button type="submit" name="button">Add Band</button>
      </form>
    }
  else
  {
    <form action='/venues/@Model["venue"].Id/bands/new' method="post">
    <label>Add a band to @Model["venue"].Name:</label>
    <select name="add-band" class="form-control">
      @foreach(var band in @Model["listBands"])
      {
        <option value="@band.Id">@band.Name</option>
      }
    </select>
    <button type="submit">Add Band!</button>
  </form>
  }
