@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-6">
    @foreach(var band in @Model["listBands"])
    {
      <h3><a href="/bands/@band.Id">@band.Name</a></h3>
    }
    @if(@Model["show-info"] == "new-band-info")
    {
      <h3>You just added @Model["newBand"].Name!</h3>
    }
    <form  action="/bands/new" method="get">
      <button type="submit" name="button">Add Band</button>
    </form>
  </div>

  <div class="col-md-6">
    @foreach(var venue in @Model["listVenues"])
    {
      <h3><a href="/venues/@venue.Id">@venue.Name, @venue.City</a></h3>
    }
    @if(@Model["show-info"] == "new-venue-info")
    {
      <h3>You just added @Model["newVenue"].Name!</h3>
    }
    <form  action="/venues/new" method="get">
      <button type="submit" name="button">Add Venue</button>
    </form>
  </div>
</div>
