@{
  Layout="Shared/_Layout";
}

<h1>@Model["venue"].Name</h1>
<h3>@Model["venue"].City</h3>
<h3>Here are all the bands who have played at this venue:</h3>

@if (@Model["bands"].Count == 0)
{
  <p>None!</p>
}
else
{
  <ol>
    @foreach (var band in @Model["bands"])
    {
      <li><a href="/bands/@band.Id">@band.Name</li>
    }
  </ol>
}
<form action='/venue/@Model["venue"].Id/edit' method="get">
    <input type="hidden" name="venue-edit" id="venue-edit" value="venue-edit"><button type="submit">Edit this Venue</button>
</form>
<form action='/venue/@Model["venue"].Id/delete' method="get">
    <input type="hidden" name="venue-delete" id="venue-delete" value="venue-delete"><button type="submit">Delete this Venue</button>
</form>
<p><a href="/">Return Home</a></p>
